<div class="container col-4 form-group text-center mt-3">
    <form role="form" id="user-addform" onsubmit="return false;">
    <div>
        <label for="newFirstName"><strong>First name</strong></label>
        <input type="text" class="form-control" placeholder="Enter first name" name="firstName" id="newfirstName">
    </div>
    <div>
        <label for="newLastName" class="mt-3"><strong>Last name</strong></label>
        <input type="text" class="form-control" placeholder="Enter last name" name="lastName" id="newlastName">
    </div>
    <div>
        <label for="newUsername" class="mt-3"><strong>Username</strong></label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" id="newusername" autocomplete="username">
    </div>
    <div>
        <label for="newAge" class="mt-3"><strong>Age</strong></label>
        <input type="number" class="form-control" name="age" id="newage">
    </div>

    <div id="password-div">
        <label for="newPassword" class="mt-3"><strong>Password</strong></label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" id="newpassword" autocomplete="current-password">
    </div>
    <div>
        <label for="newRoles" class="mt-3"><strong>Roles</strong></label>
        <select multiple class="form-control" id="newroles" name="roles[]"></select>
    </div>
    <div>
        <button type="submit" class="btn btn-success mt-3">Add new User</button>
    </div>
    </form>
</div>